.form--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 561px;;
    form{
      width: 50%;
      margin: auto;
      right: 10%;
      position: absolute;
        h5{
          position: absolute;
          top: -50px;
        }
    }
    
}

